<form
  [formGroup]="form"
  (ngSubmit)="handleLogin()"
  class="mx-auto w-[32rem] flex flex-col py-8 space-y-8"
>
  <app-error *ngIf="error">
    invalid credentials, please try again
  </app-error>
  <div class="flex flex-col">
    <label for="username">username</label>
    <app-input
      [form]="username"
      id="username"
      type="text"
    ></app-input>
  </div>

  <div class="flex flex-col">
    <label for="password">password</label>
    <app-input
      [form]="password"
      id="password"
      type="password"
    ></app-input>
  </div>

  <div class="grid grid-cols-1">
    <app-button
      [disabled]="loading"
      [loading]="loading"
      [class.opacity-50]="loading"
      color="primary"
    >
      login
    </app-button>
  </div>
</form>
