/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;900&family=Kanit:wght@600&display=swap');

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/dracula.css';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

.CodeMirror {
  @apply h-full text-base leading-relaxed
}

@tailwind base;

.markdown a[href] {
  @apply text-blue-600 font-bold underline
}

.katex-display {
  @apply text-2xl
}

.markdown-base h1  {
  @apply text-4xl my-8
}

.markdown-base h2 {
  @apply text-3xl my-6
}

.markdown-base h3 {
  @apply text-2xl my-4
}

.markdown-base h4 {
  @apply text-xl my-3
}

.markdown-base h5 {
  @apply text-lg my-2
}

.markdown-base h6 {
  @apply text-base my-1
}

.markdown-base ul {
  @apply list-disc
}

.markdown-base ol {
  @apply list-decimal
}

.markdown-base li {
  @apply ml-6
}

.markdown-base p {
  @apply my-4
}

@tailwind components;
@tailwind utilities;
